div.bg{
    background-image: url('./images/bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 225px;
}

div.bg + div.container{
    min-height:235px;
    padding: 3.5% 0;  
}